<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550939487517-qdp637kt589u9lgjo35ul5iukilsm5b8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550939487517-qdp637kt589u9lgjo35ul5iukilsm5b8</string>
	<key>API_KEY</key>
	<string>AIzaSyD-SDIaUKGuIS-bAwAUlB0hNBipgAleckU</string>
	<key>GCM_SENDER_ID</key>
	<string>550939487517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ohmsim</string>
	<key>PROJECT_ID</key>
	<string>ohmsim-c02b8</string>
	<key>STORAGE_BUCKET</key>
	<string>ohmsim-c02b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550939487517:ios:2a47583d0bf23e01a7c5f4</string>
</dict>
</plist>